#about h2 {
	text-align: center;
	color: pink;
	font-size: 3rem;
}
#about > p {
	text-align: center;
	margin-bottom: 1rem;
	font-size: 1.1rem;
}
.about__container {
	display: grid;
	grid-template-columns: 1fr;
}
.about__container > p {
	text-align: center;
	margin-bottom: 1rem;
}
.about__container > p {
	font-size: 1.1rem;
}
/* Details */
.about-details {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 2.5rem 0 3rem;
}
.about-details-image {
	width: 25rem;
	height: 25rem;

	border-radius: 50%;
	overflow: hidden;

	position: relative;
	left: 50%;
	transform: translateX(-50%);
	transform-style: preserve-3d;
}
.about-details-image div {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	transform-style: preserve-3d;
	transition: 1s;

	backface-visibility: hidden;
	border-radius: 50%;
}
.about-details-image .front {
	background: linear-gradient(45deg, var(--color-pink), transparent);
}
.about-details-image:hover .front {
	transform: rotateY(180deg);
}
.about-details-image .back {
	background: linear-gradient(45deg, transparent, var(--color-pink));
	transform: rotateY(180deg);
}
.about-details-image:hover .back {
	transform: rotateY(360deg);
}
.about-details-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}
.about-details-content p {
	font-size: 1.1rem;
	text-align: justify;
}
.about-details-content a {
	text-decoration: none;
	margin-top: 2rem;
}
/* Skills */
.about-skills {
	display: grid;
	grid-template-columns: 1fr;
	padding-bottom: 10rem;
	margin: 0 auto;
}
.about-skills h2,
.about-skills > p {
	text-align: center;
	margin-bottom: 1rem;
}
.about-skills h2 {
	color: pink;
	font-size: 3rem;
}
.about-skills > p {
	font-size: 1.1rem;
}
.about-skills > div {
	width: max-content;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin: 0 auto;
}
.about-skills > div article {
	width: 3.5rem;
	height: 3.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 1.5rem 2.5rem;
}
.about-skills article img {
	transition: var(--transition);
	cursor: pointer;
}

.about-skills > div img:hover {
	transform: scale(1.1);
}
/* Tablet */
@media only screen and (max-width: 1023px) and (min-width: 740px) {
	.about-details {
		grid-template-columns: 1fr;
	}
	.about-details-image {
		width: 20rem;
		height: 20rem;
	}
	.about-details-content p {
		margin-top: 2.5rem;
	}
}
/* Mobile */
@media only screen and (max-width: 739px) {
	#about h2 {
		font-size: 2.5rem;
	}
	.about-details {
		grid-template-columns: 1fr;
	}
	.about-details-image {
		width: 15rem;
		height: 15rem;
	}
	.about-details-content {
		align-items: center;
	}
	.about-details-content p {
		margin-top: 2rem;
	}
	.about-skills h5 {
		font-size: 1rem;
	}
	.about-skills > div {
		grid-template-columns: repeat(3, 1fr);
	}
}
